<html>
	<head>
		<meta http-equiv="refresh" content="{{ refresh }};url={{ url_for("random") }}" />
	<style>
		img {
			width: 100%;
			height: 98%;
			object-fit: contain;
			background: url({{ url_for("static", filename="loading.gif") }}) 50% no-repeat;
		}
	</style>
	</head>
	<body bgcolor="black">
		<img id="slider" src="{{ url_for("static", filename="clear.gif") }}" />
		<script>
			var downloadingImage = new Image();
			downloadingImage.onload = function()
			{
				document.getElementById("slider").src = this.src;
			};

			downloadingImage.src = "{{ url_for("random_image") }}";
		</script>
	</body>
</html>
